<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Story Manager</title>
    </head>
    <h2>User Story Manager</h2>
    <body>
        <table border="1" style="width:100%">
            <tr>
                <td>ID</td>
                <td>Story Title</td>
                <td>User Story</td>
                <td>Acceptance Criteria</td>
                <td>Business Value</td>
                <td>Estimation</td>
                <td>Status</td>
            </tr>
            {% if user_stories %}
            {% for story in user_stories %}
            <tr>
                <td>{{story.id}}</td>
                <td>{{story.story_title}}</td>
                <td>{{story.user_story}}</td>
                <td>{{story.accept_criteria}}</td>
                <td>{{story.business_value}}</td>
                <td>{{story.estimation}}</td>
                <td>{{story.status}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <form method="post">
            <input type="submit" value="Add Story">
        </form>
    </body>
</html>
